.main-canvas(ng-style="$ctrl.canvasWidthStyle()")
  button#stop-importing-button.data-pen-button Stop Importing
  .control-area
    button.active-circle-button(ng-init="tooltipViewOptions=''" ng-mouseenter="tooltipViewOptions='visible'" ng-mouseleave="tooltipViewOptions=''" uib-popover-template="'viewOptionsPopover.html'" popover-trigger="'outsideClick'" popover-placement="auto left-top" popover-class="active-options-popover" popover-is-open="$ctrl.viewOptionsPopoverVisible" ng-class="{true: 'button-active', false: ''}[$ctrl.viewOptionsPopoverVisible]")
      img.view-options-icon(src=require("../images/active/view_options.svg"))
      p.button-label.transition-200(ng-class="tooltipViewOptions") View Options
    //- button.active-circle-button(ng-init="tooltipLayers=''" ng-mouseenter="tooltipLayers='visible'" ng-mouseleave="tooltipLayers=''" uib-popover-template="'layersPopover.html'" popover-trigger="'outsideClick'" popover-placement="auto left-top" popover-class="active-options-popover" popover-is-open="$ctrl.layersPopoverVisible" ng-class="{true: 'button-active', false: ''}[$ctrl.layersPopoverVisible]")
    //-   img.layers-icon(src=require("../images/active/layers.svg"))
    //-   p.button-label.transition-200(ng-class="tooltipLayers") Layers
    //- button.active-circle-button(ng-init="tooltipSnapshots=''" ng-mouseenter="tooltipSnapshots='visible'" ng-mouseleave="tooltipSnapshots=''" uib-popover-template="'snapshotsPopover.html'" popover-trigger="'outsideClick'" popover-placement="auto left-top" popover-class="active-options-popover" popover-is-open="$ctrl.snapshotsPopoverVisible" ng-class="{true: 'button-active', false: ''}[$ctrl.snapshotsPopoverVisible]")
    //-   img.snapshots-icon(src=require("../images/active/snapshot.svg"))
    //-   p.button-label.transition-200(ng-class="tooltipSnapshots") Snapshots
    //-button.active-circle-button(ng-init="tooltipAssistedLayouts=''" ng-mouseenter="tooltipAssistedLayouts='visible'" ng-mouseleave="tooltipAssistedLayouts=''" uib-popover-template="'layoutsPopover.html'" popover-trigger="'outsideClick'" popover-placement="auto left-top" popover-class="active-options-popover" popover-is-open="$ctrl.layoutsPopoverVisible" ng-class="{true: 'button-active', false: ''}[$ctrl.layoutsPopoverVisible]")
      img.layouts-icon(src=require("images/active/layout.svg"))
      p.button-label.transition-200(ng-class="tooltipAssistedLayouts") Assisted Layouts
  svg.main-svg
    defs
      filter#drop-shadow(x="-0.3" y="-0.3" height="200%" width="200%")
        feGaussianBlur(in="SourceAlpha" stdDeviation="2" result="blur")
        feMerge
          feMergeNode(in="blur")
          feMergeNode(in="SourceGraphic")
    g.main-g
      rect.main-background
      g.main-g-links
      g.main-g-items
.node-search(ng-show="$ctrl.currentlyAdding")
  .input-group
    .input-group-addon.addon-left
      i.glyphicon.glyphicon-search(ng-hide="loadingSearchResults")
      .spinner(ng-if="loadingSearchResults")
    input.form-control(
      type="text" 
      ng-model="$ctrl.nodeSearchSelected" 
      placeholder="Search" 
      uib-typeahead="result as result.value for result in $ctrl.nodeSearchResults($viewValue)"
      typeahead-popup-template-url="resultPopupTemplate.html"
      typeahead-template-url="resultTemplate.html"
      typeahead-loading="loadingSearchResults" 
      typeahead-no-results="noResults" 
      typeahead-on-select="$ctrl.nodeSearchSelect($item, $model, $label, $event)" 
      typeahead-wait-ms="50")
    .input-group-addon.addon-right(ng-click="$ctrl.nodeSearchRemove()")
      img.dismiss-icon(src=require("../images/filter/remove.svg"))
  .type-results-only(ng-show="!noResults && loadingSearchResults")
    .fake-typeahead
      label.cold-node(ng-click="$ctrl.addColdNode($ctrl.nodeSearchSelected)") Add "{{ $ctrl.nodeSearchSelected }}" as an unlinked node
      ul.list-style-none
        li.cold-node Add "{{ $ctrl.nodeSearchSelected }}" as a new type
        li.result-type-container-loading(ng-repeat="type in $ctrl.allClassesFiltered($ctrl.nodeSearchSelected)") 
          label.resultType TYPE
          label.resultActual {{ type.labels | prefLang }}
  .no-results-container(ng-show="noResults")
    .fake-typeahead
      //- label.cold-node(ng-click="$ctrl.addColdNode($ctrl.nodeSearchSelected)") Add "{{ $ctrl.nodeSearchSelected }}" as an unlinked node
      ul.list-style-none
        //- li.cold-node Add "{{ $ctrl.nodeSearchSelected }}" as a new type
        li.result-type-cPontainer-loading(ng-repeat="type in $ctrl.allClassesFiltered($ctrl.nodeSearchSelected)") 
          label.resultType TYPE
          label.resultActual {{ type.labels | prefLang }}
      label.no-results No Results Found!
#circle-menu.circle-menu(ng-click="$ctrl.hideMenuTooltip()")
#circle-multiMenu.circle-multiMenu(ng-click="$ctrl.hideMenuTooltip()")
#properties-menu.circle-menu
#circle-menu-tooltip.circle-menu-tooltip {{ $ctrl.menuOperation }} {{ $ctrl.selectedNodes.length && $ctrl.circleMultiMenuVisible ? $ctrl.selectedNodes.length : 1 }} nodes
.tooltips
.link-tooltips
script(type="text/ng-template" id="resultTemplate.html")
  a
    span.resultType {{ match.model.type }}
    span.resultActual {{ match.model.value }}
  //- a(ng-if="!match.model")
  //-   label.resultType.type-label TYPE
  //-   label.resultActual {{ match.labels | prefLang }}
script(type="text/ng-template" id="resultPopupTemplate.html")
  .custom-popup-wrapper(ng-style="{top:position().top+'px', left: position().left+'px'}" style="display: block;" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}")
    //- label.cold-node(ng-click="$parent.$ctrl.addColdNode(query)") Add "{{ query }}" as an unlinked node
    //- label.cold-node Add "{{ query }}" as a new type
    ul.dropdown-menu(role="listbox")
      //- li.uib-typeahead-match.result-type-container(ng-repeat="type in $parent.$ctrl.allClassesFiltered(query)")
      //-   div(uib-typeahead-match index="$index" match="type" query="query" template-url="templateUrl")
      li.uib-typeahead-match(ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}")
        div(uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl")